{
  "root": true,
  "extends": ["airbnb/base"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": { "ecmaVersion": 8 },
  "rules": {
    "import/no-dynamic-require": 0,
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "comma-dangle": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
}
